
html,body{
    height: 100%;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
button{
    border: 1px solid black;
    border-radius: 5px;
    background: green;
    color: #fff;
    height: 30px;
    padding: auto 5px;
}
